<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Autorental{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
   {% load static %}
    <link rel="stylesheet" href="{% static 'home/styles.css' %}">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container-fluid">
    {% load static %}
    <a class="navbar-brand" href="{% url 'home:home' %}" style="margin-left: 10px;">
        <img src="{% static 'home/img/AutoRental_Logo.png' %}" alt="Autorental" height="60">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        
        <li class="nav-item">
          <a class="nav-link fs-5" href="">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5" href="{% url 'sucursales:lista_sucursales' %}">Ver Sucursales y Vehículos</a>
        </li>
        {% if user.is_authenticated %}
          {% if user.is_superuser %}
          <li class="nav-item">
            <a class="nav-link fs-5" href="{% url 'admin_menu' %}">Panel Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-5" href="{% url 'logout' %}">Cerrar sesión</a>
          </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link fs-5" href="{% url 'reservas:mis_reservas' %}">Mis reservas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5" href=>Mi Perfil</a> <!--Por ahora no se debe poder editar el perfil-->
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5" href="{% url 'logout' %}">Cerrar sesión</a>
        </li>
    {% endif %}
{% else %}
    <li class="nav-item">
      <a class="nav-link fs-5" href="{% url 'login' %}">Iniciar sesión</a>
    </li>
    <li class="nav-item">
      <a class="nav-link fs-5" href="{% url 'registro' %}">Registrarse</a>
    </li>
{% endif %}
      
      </ul>
    </div>
  </div>
</nav>

{% if messages %}
<div class="container mt-3">
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
</div>
{% endif %}

<div class="container mt-4">
  {% block content %}{% endblock %}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
