{% extends 'home/base.html' %}
{% block content %}
<html>
    <head>
        <h1>Bienvenido al menú de Empleados</h1>
    </head>
    
    <div>
        <ul class="nav">
            <li><a href="">Vehículos</a>
                <ul>
                    <li><a href="#">Modificar Vehículo</a></li>
                </ul>
            </li>

            <li><a href="#">Reservas</a>
                <ul>
                    <li><a href="#">Realizar Reserva</a></li>
                    <li><a href="#">Terminar Reserva</a></li>
                    <li><a href="#">Buscar Cliente</a></li>
                    <li><a href="#">Completar pago</a></li>
                </ul>
            </li>
        </ul>
    </div>
</html>
{%endblock%}