{% extends 'home/base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Menú de Administrador</title>
</head>
<body>
    <h1>Bienvenido, Administrador. Elija una opción</h1>
    <ul class="admin">
    <li><a href ="#">Vehículos</a>
      <ul>
        <a href ="{% url 'cargar_autos' %}">Agregar Vehículo</a>
        <a href ="#">Modificar Vehículo</a>
        <a href ="#">Eliminar vehículo</a>
        <a href ="#">Ver listado de vehículos</a>
      </ul>
    </li>
    <li><a href ="#">Empleados</a>
      <ul>
        <a href ="#">Agregar Empleado</a>
        <a href ="#">Modificar Empleado</a>
        <a href ="#">Eliminar Empleado</a>
        <a href ="#">Ver listado de vehículos</a>
      </ul>
    </li>
    <li><a href ="#">Estadísticas</a>
      <ul>
        <a href ="#">Ver estadísticas</a>
      </ul>
    </li>
  </ul>
</body>
</html>
{% endblock %}