{% extends 'home/base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
    <h1>Ingrese los datos que desee modificar del vehículo</h1>
    <form method="POST">
        {% csrf_token %}
        <ul>
            <li>
                <label for="patente">Patente: </label>
                <input type="text" id="patente" name="patente" required/>
            </li>
            <li>
                <label for="precio">Precio Por Día: </label>
                <input type="text" id="precio" name="precio"/>
            </li>
            <li>
                <label for="reembolso">Política de Reembolso: </label>
                <select id="politica_reembolso" name="politica_reembolso">
                    <option value="Sin elegir" selected>Sin elegir</option>
                    <option value="0">0%</option>
                    <option value="20">20%</option>
                    <option value="100">100%</option>
                </select>
            </li>
            <li>
                <input type="file" id="foto" accept="image/*"/>
                <input type="hidden" id="foto_base64" name="foto_base64">
            </li>
        </ul>
        <button type="submit">Guardar cambios del vehículo</button>
    </form>

    <script>
        const fileInput = document.getElementById('foto');
        const base64Input = document.getElementById('foto_base64');

        fileInput.addEventListener('change', function() {
            const file = this.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    const base64String = e.target.result.split(',')[1];
                    base64Input.value = base64String;
                };
                reader.readAsDataURL(file);
            }
        });
    </script>
</html>
{% endblock %}