{% extends 'home/base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Visualización de vehículos</title>
</head>
<body>
    <h1>Esta es toda la lista de vehículos</h1>
    {% for vehiculo in vehiculos %}
        <div>
            <h3>{{ vehiculo.marca }} {{ vehiculo.modelo }}</h3>
            <p>Patente: {{ vehiculo.patente }}</p>
            <img src="data:image/*;base64,{{ vehiculo.foto }}" alt="Foto del vehículo" width="200">
        </div>
    {% endfor %}
</body>
</html>
{% endblock %}