.navbar-custom {
    background-color: #edebe3;
    border-bottom: 6px solid #0e4532;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.navbar-custom .nav-link,
.navbar-custom .navbar-brand {
    color: #333;
    font-weight: 600;
    font-size: 1.1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.navbar-custom .nav-link:hover {
    color: #b1938c; /* Color al pasar el mouse */
} 
 
.auto-imagen {
  max-width: 200px;
  height: auto;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.lista.autos {
  text-align: center;
  padding: 20px;
}

.lista.autos h3 {
  font-weight: 700;
  margin-bottom: 20px;
}

.fondo {
    background-color:#0e4532;
}

.menu-reservas {
    background-color: rgb(60, 107, 60);
    text-align: center;
    border-radius: 30px;
}

.menu-reservas select {
    max-width: 150px !important;
    width: 150px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu-reservas select option {
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu-reservas input[type="date"] {
    width: 200px;
    display: inline-block;
    margin-left: 10px;
}

.menu-reservas input[type="text"] {
    width: 200px;
    display: inline-block;
    margin-left: 10px;
}

.sucursal-select {
    width: 100px !important;  /* Ancho fijo para el select */
    margin: 0 auto;  /* Centra el select horizontalmente */
    display: inline-block;  /* Mantiene el select en línea con el texto */
}

.admin {
    list-style: none;
    background-color: #0e4532;
    padding: 20px;
}

.admin li {
    position: relative;
    display: inline-block;
}

.admin li:hover ul {
    display: block;
}

.admin ul{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #0e4532;
}

.admin ul li a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.admin ul li a:hover {
    background-color:#0e4532;

}

.admin li a {
    text-decoration: none;
    padding: 10px;
}